.contact-us nav {
  top: 0;
}
.contact-us .container .row {
  display: flex;
  margin-top: 120px;
}
.contact-us .contact-us-info,
.contact-us .contact-us-form {
  width: 50%;
  padding: 0 0.75rem;
}
.contact-us p {
  margin-bottom: 50px;
}
.contact-us .contact-item {
  max-width: 360px;
}
.contact-us .contact-item.phone {
  margin-bottom: 30px;
}

.contact-us .map {
  margin-top: 100px;
}

@media screen and (width < 992px) {
  .contact-us .section-heading {
    margin-top: 0;
  }
  .contact-us .container .row {
    flex-direction: column;
  }
  .contact-us .contact-us-info,
  .contact-us .contact-us-form {
    width: 100%;
  }
  .contact-us .contact-us-form form {
    margin-left: 0;
    margin-top: 60px;
  }
}
