.appartment-image {
  width: calc(100% / 3);
}

.appartment-image-container {
  position: relative;
}
.appartment-main-image {
  padding-left: 55px;
  width: 100%;
  overflow: hidden;
}
.appartment-badge-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  line-height: 110px;
  background-color: #f35525;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -55px;
}

.appartment-badge-image img {
  max-width: 60px;
  padding: 0px;
}

@media screen and (width < 992px) {
  .appartment-image img {
    width: 100%;
  }
}
