.contact {
  background-image: url("./../../../assets/imgs/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px 250px 0px;
  position: relative;
}
.contact .section-heading {
  text-align: center;
  color: #fff;
}
.contact .section-heading .section-h2 {
  margin: 0 auto;
  max-width: 400px;
}

.contact-content {
  margin-top: -240px;
  position: relative;
  z-index: 1;
}
.contact-content .container .row {
  display: flex;
}
.contact-content .col {
  padding: 0 0.75rem;
}
.contact-content .col-1 {
  width: 58.33333333%;
}
.contact-content .col-2 {
  width: 41.66666667%;
}

.contact-content .contact-info {
  display: flex;
  align-items: center;
  gap: 54px;
}
.contact-content .item {
  width: 50%;
}

@media screen and (width < 992px) {
  .contact-content .container .row {
    flex-direction: column;
  }
  .contact-content .container .col {
    width: 100%;
  }
  .contact-content .contact-info {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 45px;
  }
  .contact-content .contact-info .item {
    width: 100%;
  }
  .contact-content .contact-info .item.mail {
    margin-bottom: 45px;
  }
  .contact-content form {
    margin-left: 0;
  }
}
