.nav-btn {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: none;
  border-radius: 20px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  text-decoration: none;
}
.nav-btn .btn-icon {
  background-color: rgb(243, 85, 37);
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: -1px;
}
.nav-btn .btn-text {
  transition: 0.2s;
}
.nav-btn:hover .btn-text {
  color: rgb(243, 85, 37);
}