.section-heading {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}
.section-heading .section-h6 {
  color: #ee626b;
  font-size: 0.9375rem;
  text-transform: uppercase;
  font-weight: 700;
}
.section-heading .section-h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 56px;
}
@media screen and (width < 992px) {
  .section-heading {
    margin-top: 100px;
  }
  .section-heading .section-h2 {
    width: 90%;
  }
}
