footer {
  background-color: #1e1e1e;
  min-height: 100px;
}

footer p {
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-wrap: balance;
}
footer a {
  color: #fff;
}
