.video-view {
  background-image: url("./../../../assets/imgs/video-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px 250px 0px;
  position: relative;
  margin-top: 120px;
}
.video-view .container {
  margin: 0 auto;
  text-align: center;
  color: white;
}

.video-view .featured-heading .featured-h2 {
  width: 320px;
  margin: 20px auto 0;
}
